/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body, html {
    font-family: Arial, sans-serif;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #343434, #f3505b9c, #ECEBEA, #085979, #64BABE); /* Gradiente difuso */
    background-size: 400% 400%;
    animation: gradientAnimation 25s ease infinite; /* Animación suave de gradiente */
    display: flex;
    flex-direction: column;
  }
  
  .App {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Asegura que el contenido ocupe al menos toda la altura de la pantalla */
  }
  
  main {
    flex: 1; /* Permite que el contenido principal se expanda */
    padding: 20px;
  }
  
  h2 {
    color: #ffffff; /* Color blanco suave para texto */
  }
  .cont, .valor, .delta{
    color: #000000;
    font-weight: bold;
  }
  .valor{
    color: rgb(0, 0, 0);
  }
  
  /* Navbar */
  nav {
    background: rgba(52, 52, 52, 0.568); /* Fondo oscuro con algo de transparencia */
    padding: 20px 0; /* Ajusta este valor para aumentar el tamaño del Navbar */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; /* Asegura que el navbar ocupe todo el ancho */
    border: none; /* Eliminar bordes externos */
  }
  
  nav a {
    color: #ECEBEA; /* Texto claro */
    text-decoration: none;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 1.2rem; /* Aumenta el tamaño de la fuente para los enlaces del Navbar */
    transition: color 0.3s ease;
  }
  
  nav a:hover {
    color: #F3505A; /* Color rojo cálido al pasar el ratón */
  }
  
  /* Footer */
footer {
    background-color: #2b2b2b; /* Un tono más oscuro para resaltar el footer */
    color: #ECEBEA;
    padding: 20px 0; /* Espacio interno mayor para una mejor apariencia */
    text-align: center;
    width: 100%; /* Asegura que el footer ocupe todo el ancho */
    border-top: 2px solid #F3505A; /* Línea superior para darle un toque moderno */
    border-bottom: 2px solid #085979; /* Línea inferior para complementar el diseño */
    margin-top: 20px; /* Añadir margen superior para separar el footer del contenido */
  }
  
  footer a {
    color: #ECEBEA;
    text-decoration: none;
    margin: 0 15px; /* Más espacio entre los enlaces */
    font-size: 1.2rem; /* Aumenta el tamaño de la fuente de los enlaces */
    font-weight: bold;
    transition: color 0.3s ease, transform 0.3s ease; /* Animación suave para el hover */
    display: inline-block; /* Añadir padding para más espaciado */
  }
  
  footer a:hover {
    color: #64BABE; /* Azul claro al pasar el ratón */
    transform: scale(1.1); /* Aumenta ligeramente el tamaño al pasar el ratón */
  }
  
  footer p {
    margin-top: 20px; /* Espaciado superior para el texto adicional */
    font-size: 1rem; /* Tamaño de fuente más grande para el texto adicional */
    color: #031f29; /* Color gris suave para el texto adicional */
    padding: 10px; /* Añadir padding para más espaciado */
  }
  
  /* Espaciado adicional para íconos */
  footer i {
    margin: 0 10px; /* Espacio alrededor de los íconos */
    font-size: 1.5rem; /* Aumenta el tamaño de los íconos */
    vertical-align: middle; /* Alinea verticalmente los íconos con el texto */
  }
  
  
  /* Animación para el fondo difuso */
  @keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  /* Mejorar apariencia de los enlaces dentro de los textos */
  a {
    color: #085979;
    text-decoration: none;
  }
  
  a:hover {
    color: #F3505A;
  }
  